.app-container {
  margin-top: 50px;
}
.minesweeper-card {
  background: rgb(255, 255, 255, 0.8) !important;
  border-width: 0px !important;
}
.grid-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
}
.text-won {
  color: #68215B;
}
.text-lost {
  color: #9E2F02;
}
.cell {
  padding-top: 87%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.zero {
  background-image: url("./assets/Minesweeper_LAZARUS_61x61_0.png");
}
.one {
  background-image: url("./assets/Minesweeper_LAZARUS_61x61_1.png");
}
.two {
  background-image: url("./assets/Minesweeper_LAZARUS_61x61_2.png");
}
.three {
  background-image: url("./assets/Minesweeper_LAZARUS_61x61_3.png");
}
.four {
  background-image: url("./assets/Minesweeper_LAZARUS_61x61_4.png");
}
.five {
  background-image: url("./assets/Minesweeper_LAZARUS_61x61_5.png");
}
.six {
  background-image: url("./assets/Minesweeper_LAZARUS_61x61_6.png");
}
.seven {
  background-image: url("./assets/Minesweeper_LAZARUS_61x61_7.png");
}
.eight {
  background-image: url("./assets/Minesweeper_LAZARUS_61x61_8.png");
}
.hidden {
  background-image: url("./assets/Minesweeper_LAZARUS_61x61_unexplored.png");
}
.flagged {
  background-image: url("./assets/Minesweeper_LAZARUS_61x61_flag.png");
}
.mine-unhit {
  background-image: url("./assets/Minesweeper_LAZARUS_61x61_mine.png");
}
.mine-hit {
  background-image: url("./assets/Minesweeper_LAZARUS_61x61_mine_hit.png");
}