@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Work+Sans&display=swap');
body {
  font-family:
    'Work Sans'
    BlinkMacSystemFont,
    -apple-system,
    "Segoe UI",
    Oxygen,
    Roboto,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://source.unsplash.com/collection/1266031/1600x900");
}
h1,h2,h3,h4,h5,h6,.new-game-button,.toggle-button {
  font-family: 'Fugaz One', cursive;
  text-transform: lowercase;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* from: https://getbootstrap.com/docs/4.1/examples/sticky-footer/
  sticky-footer.css */
.footer {
  background: rgba(255, 255, 255, 0.75);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 15px;
}